.home {
    padding: 1rem 0;
}

.hero {
    background: url(/src/assets/image/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem .5rem;
}

.hero__text {
    font-family: 'Shabnam';
    background: rgba(255, 225, 225, .6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 120px;
    width: 100%;
    max-width: 290px;
    align-self: center;
    padding: .5rem;
    text-align: center;
}

.hero__text h1 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #000;
    margin-bottom: .8rem;
}

.hero__text h4 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #3C4048;
    width: 100%;
    max-width: 280px;
}

.hero__text p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3C4048;
    margin-top: .8rem;
}

.hero__cta {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.hero__cta button {
    width: 170px;
    height: 40px;
    margin: .5rem 0;
    border-radius: 5px;
    border: 2px solid #7F8487;
    outline: none;
    background: #FFE1E1;
    font-size: 1.4rem;
    font-family: 'Shabnam';
    cursor: pointer;
    transition: .2s all ease-in;
}

.hero__cta button:nth-child(1):hover,
.hero__cta button:nth-child(1):active {
    background: #fcd7d7;
}

.hero__cta button:nth-child(2) {
    background: none;
}

.hero__cta button:nth-child(2):hover,
.hero__cta button:nth-child(2):active {
    background: #FFE1E1;
}

/* 
navbar= add animation to navbar content.
*/

/* 
1= add animation to hero text.
*/

/* 
2= add animation to cta btn.
*/






/*******/
/*************/
/*********************/
/******************************/
/***************************************/
/****************** media query *****************/
/***************************************/
/******************************/
/*********************/
/*************/
/*******/

@media only screen and (min-width: 320px) {
    .hero {
        padding: 1rem 1rem;
    }
}

@media only screen and (min-width: 420px) {
    .hero {
        padding: 1rem 1.5rem;
    }

    .hero__text {
        align-self: flex-start;
    }
}

@media only screen and (min-width: 460px) {}

@media only screen and (min-width: 550px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 750px) {}

@media only screen and (min-width: 950px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1300px) {}