.watch__container {
    width: 98%;
    height: 100%;
    min-height: 20vh;
    margin: 1rem auto;
    padding: 4rem 0;
}

.watch__topbar {
    position: relative;
}

.watch__topbar h1 {
    font-family: 'Shabnam';
    background: #fff;
    color: #000;
    position: absolute;
    top: -17px;
    right: 20px;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.watch__slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    position: relative;
}

.prev__slider,
.next__slider {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #7F8487;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prev__slider {
    position: absolute;
    left: 0;
    top: 30px;
}

.next__slider {
    position: absolute;
    right: 0;
    top: 30px;
}

.prev__slider:hover,
.next__slider:hover,
.prev__slider:active,
.next__slider:active {
    border-color: #ff8787;
}

.box__slider {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow-x: auto;
    padding: 2rem 0;
}

.slider__card {
    width: 200px;
    min-width: 200px;
    height: 300px;
    border: 1px solid #c7cbcc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 9px -3px #8F8F8F;
    box-shadow: 0px 5px 9px -3px #8F8F8F;
}

.slider__card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transform-origin: 0 0;
    transition: transform .3s, visibility .25s ease-in;
}

.card__content {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    margin: 0;
    background: rgba(255, 135, 135, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    transition: .4s all ease-in;
    opacity: 0;
}

.slider__card:hover .card__content,
.slider__card:active .card__content {
    height: 200px;
    transition: .3s all ease-in;
    padding: .5rem;
    opacity: 1;
}

.slider__card:hover img,
.slider__card:active img {
    transform: scale(1.1);
}

.card__brand {
    font-size: 1.4rem;
    font-family: cursive;
    font-weight: 700;
    margin-bottom: .8rem;
}

.card__detail {
    font-size: 1.4rem;
    font-family: 'Shabnam';
    margin: .8rem 0;
}

.card__price {
    font-size: 1.5rem;
    font-family: 'Shabnam';
}

.card__cta {
    width: 180px;
    height: 35px;
    border: none;
    outline: none;
    background: #000;
    color: #ff8787;
    font-family: 'Shabnam';
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1.5rem 0 0 0;
}

/*******/
/*************/
/*********************/
/******************************/
/***************************************/
/****************** media query *****************/
/***************************************/
/******************************/
/*********************/
/*************/
/*******/

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 460px) {}

@media only screen and (min-width: 550px) {

    .prev__slider,
    .next__slider {
        display: flex;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 750px) {}

@media only screen and (min-width: 950px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1300px) {}