.watch__container {
    width: 98%;
    height: 100%;
    min-height: 20vh;
    margin: 1rem auto;
    padding: 4rem 0;
}

.watch__topbar {
    position: relative;
}

.watch__topbar h1 {
    font-family: 'Shabnam';
    background: #fff;
    color: #000;
    position: absolute;
    top: -17px;
    right: 20px;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.watch__slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    position: relative;
}

.prev__slider,
.next__slider {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #7F8487;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prev__slider {
    position: absolute;
    left: 0;
    top: 30px;
}

.next__slider {
    position: absolute;
    right: 0;
    top: 30px;
}


.prev__slider:hover,
.next__slider:hover,
.prev__slider:active,
.next__slider:active {
    border-color: #ff8787;
}

.box__slider {
    display: grid;
    grid-auto-columns: minmax(300px, 300px);
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.slider__card {
    width: 200px;
    height: 300px;
    border: 1px solid #7F8487;
    border-radius: 5px;
}

.slider__card img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}



/*******/
/*************/
/*********************/
/******************************/
/***************************************/
/****************** media query *****************/
/***************************************/
/******************************/
/*********************/
/*************/
/*******/

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 460px) {}

@media only screen and (min-width: 550px) {

    .prev__slider,
    .next__slider {
        display: flex;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 750px) {}

@media only screen and (min-width: 950px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1300px) {}