*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}

input,
textarea,
button,
select,
a,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif;
    letter-spacing: .01rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--main-text-color);
    box-shadow: 0 0 0 30px #f8fdfc inset !important;
    -webkit-box-shadow: 0 0 0 30px #f8fdfc inset !important;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --visual-height: 100%
}


/*
main bg color: F6F6C9
main txt color: 000
second txt color: 3C4048
third txt color: 7F8487


*/

/* Shabnam font */
@font-face {
    font-family: 'Shabnam';
    src: url('../public/fonts/shabnam/Shabnam.ttf');
}

@font-face {
    font-family: 'Shabnam';
    src: url('../public/fonts/shabnam/Shabnam-Thin.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../public/fonts/shabnam/Shabnam-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../public/fonts/shabnam/Shabnam-Light.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../public/fonts/shabnam/Shabnam-Bold.ttf');
    font-weight: 900;
}

/* yekan font */
@font-face {
    font-family: 'yekan';
    src: url('../public/fonts/yekan/YEKAN\ PLUS.TTF');
    font-weight: normal;
    font-style: normal;
}

.App {
    width: 100%;
    height: var(--visual-height);
    overflow-y: auto;
    overflow-x: hidden;
}



/*******/
/*************/
/*********************/
/******************************/
/***************************************/
/****************** media query *****************/
/***************************************/
/******************************/
/*********************/
/*************/
/*******/

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 420px) {}

@media only screen and (min-width: 460px) {}

@media only screen and (min-width: 550px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 750px) {}

@media only screen and (min-width: 950px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1300px) {}